/* modalStyles.css */

/* 모달 창 스타일 */
.react-modal-custom-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border: 1px solid #ccc;
  padding: 20px;
  max-width: 500px; /* 원하는 크기로 조절해주세요 */
  width: 10%;
  text-align: center;
}

/* 모달 창 배경(오버레이) 스타일 */
.react-modal-custom-overlay {
  background-color: rgb(255 255 255 / 75%) /* 투명도 조절 가능 */
}

/* 모달 창 내부 콘텐츠 정렬 */
.react-modal-custom-content h2,
.react-modal-custom-content div {
  text-align: center;
}
